@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;

  --color-primary: #4f4f8b;
  --color-primary-dull: #44ae7c;
}
